<h3 class="text-decoration-underline">Home Page</h3>

<% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
<div class="card my-2">
  <div class="card-body">
    <a href="/blogs/<%= blog._id %>" class="card-title">
      <h4 ><%= blog.title %></h4>
    </a>
    <p class="card-text"><%= blog.intro %></p>
    <p class="card-text"><%= blog.body %></p>

    <form action="/blogs/<%= blog._id %>/delete" method="post">
      <button type="submit" class="btn btn-sm btn-danger">delete</button>
    </form>
  </div>
</div>
<% }) %> <% } else { %>
<p>No blogs available.</p>
<% } %>
